{% extends 'index.html' %}
{% load static %}

{% block content %}
   
<div class="mt-5 p-0 ">
                   
    <div class="row p-0 m-0 m-auto">
       
        <div class="d-flex justify-content-between mb-4">
           <h4>Hello {{user.username}}</h4>
           <a href="{%url 'system:logout'%}">
            <button>
                <i class="fa fa-user"></i>
                Logout
            </button>
           </a>
           

        </div>
        <hr>
        <div class="ps-5 pe-5">

            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                  No Medicine is out of stock 
                </div>
              </div>
        </div>

        <div class="ps-5 pe-5">
            <form action="{%url 'system:search'%}" method="get">
                <input type="text" class="form-control" required name="search" style="border: 2px solid black; border-radius:10px;" placeholder="Search Medicine Location">
                <button type="submit" class="btn btn-sm btn-danger mt-2">
                    Search
                </button>
            </form>
           
        </div>

        <div class="col-12 col-lg-5  mt-5 p-4 m-0 text-center">
            <a href="{%url 'system:add-medicine'%}">
                <div class="p-3 dasbox">
                    <img src="{%static 'images/medicine.avif'%}" alt="" style="width: 40%; height:200px;">
                    <h5>Add medicine</h5>
                </div>
            </a>
          
        
        </div>
        <div class="col-lg-2">

        </div>

        <div class="col-12 col-lg-5  mt-5 p-4 m-0 text-center">
            <a href="{%url 'system:qrView'%}">
                <div class="p-3 dasbox">
                    <img src="{%static 'images/qr.jpeg'%}" alt="" style="width: 40%; height:200px;">
                    <h5>Generate QR</h5>
                </div>
            </a>
           
        
        </div>
       
        
    </div>
</div>



{% endblock content %}